@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Oswald', sans-serif;
}

nav {
  background: rgb(193, 225, 255);
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
}

table {
  width: 80%;
  margin: 3rem 1rem;
}

th, td{
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
}